<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Genero
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content> 
    <ion-list>
      <ion-item *ngFor="let generoitem of misgeneros"> 
        <ion-icon slot="start" name="logo-ionic"></ion-icon>
        <ion-label>
          <h2>{{generoitem.nombre}}</h2>
        </ion-label>

      </ion-item>
        
    </ion-list>
  </ion-content>
</ion-content>
